@import url('https://fonts.googleapis.com/css?family=Poppins');

/* body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
} */

/* code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */

.justify-center {
  display: flex;
  justify-content: center;
}

.ideal-flex {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 8px;
}

.align-center {
  display: flex;
  align-items: center;
}

.sidebar-parent-component {
  height: 100vh;
  width: 8%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: black;
  color: white;
  /* padding-top: 8%; */
}

.parent-container {
  height: 100vh;
  width: 100%;
  background-color: aquamarine;
  display: flex;
}

.head-style {
  letter-spacing: 0.5px;
  padding-top: 4px;
}

.split-container2 {
  width: 92%;
  background-color: #ECEEF0;
  display: "flex";
  padding-top: "30px"
}

.infobar-parent-container {
  display: flex;
  justify-content: space-evenly;
}
